@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

:root {
  --bg-color: #202225;
  --bg-lighter: #36393F;
  --neutral-color: #6A707C;
  --primary-color: #4b7bec;
  --darker-primary-color: #3867d6;
  --primary-color-2: #45aaf2;
  --secondary-color: #fd9644;
  --success-color: #7BEC4B;
  --danger-color: #EC4B7B;
  --white: #FEFCFF
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

body {
  background-color: var(--bg-color);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Loading */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
